# Ambientes Virtuais
venv/
env/
.env

# Arquivos gerados
*.csv
*.jsonlines
*.json
*.xlsx

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Scrapy (caso o usuário volte a usar)
.scrapy/

# Playwright (se tiver dependências locais)
.playwright/

# Cloudflare Tunnel
cloudflared.exe
